---
layout: ../../layouts/BlogLayout.astro
---

<h1>My Blog Posts</h1>

<ul>
   <li><a href="/posts/post1.html">Blog Post 1</a></li>
   <li><a href="/posts/post2.html">Blog Post 2</a></li>
   <li><a href="/posts/post3.html">Blog Post 3</a></li>
</ul>