---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={UNO PAGE} description={MY MICRO BLOG} />
	</head>
	<body>
		<Header />
		<main>
			<h1>heheheh</h1>
			<p>
				 This blog serves as a lightweight, minimally-styled.
			</p>
			
		</main>
		<Footer />
	</body>
</html>
